* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer{
    width: 800px;
    height: 400px;
    background: #efefef;
}
#gallery{
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.btn{
    border: none;
    background-color: #2ecc71;
    color: white;
    padding: 5px 20px;
    margin-top: 1em;
}
h1{
    margin-bottom: 1em;
}

